<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Profissão</title>
</head>
<body>
    <h2>Adicionar Profissão</h2>
    <form method="post">
        {% csrf_token %}
        <label for="name">Nome da Profissão:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Salvar</button>
    </form>

    <a href="{% url 'api_home' %}">Voltar para a página inicial</a>
</body>
</html>
